name: GitOps Demo

on:
  push:
    branches: [ main ]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install yamllint
        run: pip install yamllint

      - name: Lint YAML (warn only)
        run: |
          yamllint crossplane || echo "YAML warnings found, but continuing..."
